{% extends 'base_generic.html' %}
{% load static %}
{% block extrafiles %}
<link rel="stylesheet" href="{% static 'gc/dist/calendar-gc.min.css' %}">
<script src="{% static 'gc/dist/calendar-gc.min.js' %}"></script>
{% endblock extrafiles %}
{% block title %}<title>Главная</title>{% endblock %}
{% block content %}
<div class = "content detail">    
    <div class = "dash_events_list">
        <h3>Всего конференций {{user}}: {{total_count}}</h3>
        <ul class = "list-group">
            {% for conf in now_running %}
            <li class = "list-group-item d-flex justify-content-between align-items-start">
                <div class = "ms-2 me-auto">
                    <div class = "fw-bold">{{conf.event.name}}</div>
                    {{conf.event.notes}}
                </div>
                 <span class = "badge bg-primary rounded-pill">{{conf.event.start_time}}</span>
            </li>
            {% endfor %}
        </ul>    
    </div>
    
    <div id="calendar"></div>
    <script>
        $(function (e) {
        var calendar = $("#calendar").calendarGC({
            dayBegin: 1,
            prevIcon: '&#x3c;',
            nextIcon: '&#x3e;',
            dayNames: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
            monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            onPrevMonth: function (e) {
                console.log("prev");
                console.log(e)
            },
            onNextMonth: function (e) {
                console.log("next");
                console.log(e)
            },
            events: [
                {% for conf in now_running %}
                {
                    date: new Date('{{conf.event.start_time.date.year}}-{{conf.event.start_time.date.month}}-{{conf.event.start_time.date.day}}'),
                    eventName: '{{conf.event.name}}',
                    className: "badge bg-danger"
                },
                {% endfor %}
                {
                date: new Date("2022-02-07"),
                eventName: "Holiday",
                className: "badge bg-danger",
                onclick(e, data) {
                    console.log(data);
                },
                dateColor: "red"
                },
                {
                date: new Date("2022-02-07"),
                eventName: "Holiday with wife",
                className: "badge bg-danger",
                onclick(e, data) {
                    console.log(data);
                },
                dateColor: "red"
                },
                {
                date: new Date("2022-02-08"),
                eventName: "Working day",
                className: "badge bg-success",
                onclick(e, data) {
                    console.log(data);
                },
                dateColor: "green"
                }
            ],
            onclickDate: function (e, data) {
                console.log(e, data);
            }
        });
    })
    </script>
    
</div>
{% endblock %}