{% extends 'base_generic.html' %}
{% load static %}
{% block extrafiles %}
<link rel="stylesheet" href="{% static 'fullcalendar/lib/main.css' %}">
<script src="{% static 'fullcalendar/lib/main.js' %}"></script>
<script src="{% static 'fullcalendar/lib/locales/ru.js' %}"></script>
{% endblock extrafiles %}
{% block title %}<title>Главная</title>{% endblock %}
{% block content %}
<div class = "content detail">    
    <div class = "dash_events_list">
        <h3>Всего конференций {{user}}: {{total_count}}</h3>
        <ul class = "list-group">
            {% for conf in now_running %}
            <li class = "list-group-item d-flex justify-content-between align-items-start">
                <div class = "ms-2 me-auto">
                    <div class = "fw-bold">{{conf.event.name}}</div>
                    {{conf.event.notes}}
                </div>
                 <span class = "badge bg-primary rounded-pill">{{conf.event.start_time}}</span>
            </li>
            {% endfor %}
        </ul>    
    </div>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var today = new Date();
        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,list'
            },
            initialDate: today,
            navLinks: true, // can click day/week names to navigate views
            initialView: 'dayGridMonth',
            height: '650px',
            width: '800px',
            locale: 'ru',
            
        });
        calendar.render();
        
        sb = document.getElementById('toggle_sidebar');
        sb.onclick = function(){
            calendar.updateSize();
        };
    });
    </script>
    <div id="calendar"></div>
    
</div>
{% endblock %}