{% extends 'base_generic.html' %}
{% load static %}
{% block title %}<title>Восстановление пароля</title>{% endblock title %}
{% block extrafiles %}
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock extrafiles %}
{% block sidebar %}
{% block navbar-top %}{% endblock navbar-top %}
{% block content %}
<main class="form-signin fp">
    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">

        <div class="card-header justify-content-center">
            <h3 class="font-weight-light my-4 text-center">Инструкции по восстановлению</h3>
        </div>

        <div class="card-body">
            <div class="alert alert-info">
                {% if messages %}
                    {% for message in messages %}
                        {{message}}
                    {% endfor %}
                {% else %}
                    <p>Данная страница больше не действительна, пожалуйста вернитесь к форме входа</p>
                {% endif %}
            </div>
            <a href="{% url 'accounts:signin' %}" class = "w-100 btn btn-md btn-outline-primary text-truncate" role="button">Перейти ко входу</a>
        </div>
    </div>
</main>
{% endblock content %}
{% endblock sidebar %}