{% extends 'base_generic.html' %}
{% load static %}
{% block title %}<title>Восстановление пароля</title>{% endblock title %}
{% block extrafiles %}
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock extrafiles %}
{% block navbar-top %}{% endblock navbar-top %}
{% block sidebar %}{% endblock sidebar %}
{% block content %}
<main class="form-signin fp">
    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">

        <div class="card-header justify-content-center">
            <h3 class="font-weight-light my-4 text-center">Восстановление пароля</h3>
        </div>

        <div class="card-body">
            <div class="alert alert-info">
                Ваш пароль был сброшен. Вы можете <a href="{% url 'accounts:signin' %}">пройти по ссылке и войти здесь.</a>
            </div>
        </div>
    </div>
</main>
{% endblock content %}