{% extends 'base_generic.html' %}
{% block sidebar %}
{% block navbar %}{% endblock %}
{% block content %}
<main class="form-signin text-center">
  <form method="post">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="mb-4" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
    </svg>
    <h1 class="h5 mb-3 fw-normal">Пожалуйста, авторизуйтесь в системе</h1>
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">{{form.non_field_errors}}</div>
    {% endif %}
    {% for field in form %}
      <div class = "form-floating">
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      </div>
    {% endfor %}
    <button type="submit" class = "w-100 btn btn-lg btn-primary">Войти</button>
  </form>
</main>

{% endblock %}
{% endblock %}