<!DOCTYPE html>
<html>
    <head>
        {% block title %}
            <title>Конференции</title>
        {% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- Добавление дополнительного статического CSS файла -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <div class = "container-fluid">
        {% block navbar-top %}
            <!-- navbar here -->
            <ul class = "navbar-top">
                <a href='#'></a><li>Главная</li></a>
                <a href="{% url 'events-list' %}"><li>Конференции</li></a>
                <a href="{% url 'admin' %}"><li>Админ-панель</li></a>
            </ul>
        {% endblock %}
        {% block sidebar %}
            <!-- default text here -->
            <h2> This is default sidebar text</h2>
        {% endblock %}
        {% block content %}
            <!-- default context text here -->
            <h2>This is default context text</h2>
        {% endblock %}
        </div>
    </body>
</html>
