{% extends 'base_generic.html' %}
{% load static %}
{% block title %}<title>Главная</title>{% endblock %}
{% block content %}
<div class = "dash-content-wrapper">    
    <div class = "dash_events_list">
        <h3>Всего конференций {{user}}: {{total_count}}</h3>
        <ul class = "list-group">
            {% for conf in now_running %}
            <li class = "list-group-item d-flex justify-content-between align-items-start">
                <div class = "ms-2 me-auto">
                    <div class = "fw-bold">{{conf.event.name}}</div>
                    {{conf.event.notes}}
                </div>
                 <span class = "badge bg-primary rounded-pill">{{conf.event.start_time}}</span>
            </li>
            {% endfor %}
        </ul>    
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      themeSystem: 'bootstrap5',
      height: '650px',
      locale: 'ru'
    });
    calendar.render();
  });
</script>
<div class = "container-fluid mt-4">
    <div id="calendar"></div>
</div>
{% endblock %}