{% block sidebar %}
<div class="l-navbar" id="sidebar">
    <nav class="nav">
        <div> 
            <div class="nav_logo">
                <i class='bx bx-right-arrow-alt nav_logo-icon' id="toggle_sidebar"></i>
                <span class="nav_logo-name">Меню</span> 
            </div>
            <div class="nav_list"> 
                <a href="{% url 'dashboard' %}" class="nav_link active"> 
                    <i class='bx bx-grid-alt nav_icon'></i> 
                    <span class="nav_name">Главная</span> 
                </a>
                <a href="{% url 'events:events-list' %}" class="nav_link"> 
                    <i class='bx bxs-calendar-event nav_icon'></i> 
                    <span class="nav_name">Все сеансы ВКС</span> 
                </a>
                <a href="{% url 'events:event-calendar' %}" class="nav_link"> 
                    <i class='bx bx-calendar-star'></i> 
                    <span class="nav_name">Календарь</span> 
                </a>  
                <a href="{% url 'accounts:profile' %}" class="nav_link"> 
                    <i class='bx bx-user nav_icon'></i> 
                    <span class="nav_name">Профиль</span> 
                </a>
                {% if user.is_staff %}
                <a href="{% url 'admin:index' %}" class="nav_link"> 
                    <i class='bx bx-shield-quarter nav_icon'></i> 
                    <span class="nav_name">Администрирование</span> 
                </a>
                {% endif %} 
            </div>
        </div> 
        <a href="{% url 'accounts:signout' %}" class="nav_link"> 
            <i class='bx bx-log-out nav_icon'></i> 
            <span class="nav_name">Выйти</span> 
        </a>
    </nav>
</div>
{% endblock sidebar %}