{% extends 'base_generic.html' %}
{% block title %}<title>Все события</title>{% endblock %}
{% block content %}
<div class = "events-wrapper">    
    <div class = "events-list">
        <h3>Всего конференций: {{confs_count}}</h3>
        <ul class = "list-group">
            {% for conf in conferences %}
            <li class = "list-group-item d-flex justify-content-between align-items-start">
                <div class = "ms-2 me-auto">
                    <div class = "fw-bold">{{conf.name}}</div>
                    {{conf.notes}}
                </div>
                 <span class = "badge bg-primary rounded-pill">{{conf.start_time}}</span>
            </li>
            {% endfor %}
        </ul>    
    </div>
</div>
{% endblock %}